<section class="topo">
    <header>
        <p>Ana Julia</p>
        <nav>
            <ul>
                <li><a>Home</a></li>
                <li><a>Sobre</a></li>
                <li><a>Projetos</a></li>
                <li><a>Contato</a></li>
            </ul>
        </nav>
        <a class="botao">Contato</a>
    </header>
    <main>
        <div class="competencias">
            <p>Inovativo</p>
            <div class="bolinha"></div>
            <p>Criativo</p>
            <div class="bolinha"></div>
            <p>Empático</p>
        </div>
        <h1>Estudante de Lógica de Programação</h1>
        <P>
            Aprendendo a programação para um futuro melhor.
        </P>
        <div class="botoes">
            <a>Meus trabalhos</a>
            <a>Sobre mim</a>
        </div>

    </main>
</section>
