<section class="projetos">
    <h1>Projetos</h1>

    <div class="grid-container">
        <div (click)="abreProjeto('piadas')" class="grid-item">
          <img src="/assets/img/Ushi.jpg" alt="adivinhação de números">
          <h1>Adivinhação com Ushi</h1>
          <p>Um jogo onde você deve adivinhar os números que Ushi está pensando</p>
          <a href="#">ver mais</a>
        </div>

        <div class="grid-item">
            <img src="/assets/img/Estrelas.jpg" alt="coletar estrelas">
            <h1>Dogo atrás de estrelas</h1>
          <p>Um jogo você deve ajudar o Dogo a pegar todas as estrelas que estiverem caindo</p>
          <a href="#">ver mais</a>
        </div>

        <div class="grid-item">
            <img src="/assets/img/mago.jpg" alt="batalha com magos">
            <h1>Batalhas de Magos</h1>
          <p>Um jogo você poderá batalhar com seu amigo usando os dois magos presentes no jogo</p>
          <a href="#">ver mais</a>
        </div>

        <div class="grid-item">
            <img src="/assets/img/bolinha.jpg" alt="Não deixe a bolinha cair">
            <h1>Não deixe a bola cair</h1>
          <p>Um jogo onde você não pode deixar a bolinha cair</p>
          <a href="#">ver mais</a>
        </div>

        <div class="grid-item">
            <img src="/assets/img/sakuras.jpg" alt="Uma arvore de Sakura">
            <h1>Sakura</h1>
          <p>Descrição do Item 5</p>
          <a href="#">ver mais</a>
        </div>

        <div class="grid-item">
            <img src="/assets/img/sakuras.jpg" alt="Uma arvore de Sakura">
            <h1>Sakura</h1>
          <p>Descrição do Item 6</p>
          <a href="#">ver mais</a>
        </div>

        <div class="grid-item">
            <img src="/assets/img/sakuras.jpg" alt="Uma arvore de Sakura">
            <h1>Sakura</h1>
          <p>Descrição do Item 7</p>
          <a href="#">ver mais</a>
        </div>

        <div class="grid-item">
            <img src="/assets/img/sakuras.jpg" alt="Uma arvore de Sakura">
            <h1>Sakura</h1>
          <p>Descrição do Item 8</p>
          <a href="#">ver mais</a>
        </div>

      </div>
      
      


</section>
