header{
    width: calc(100vw - 20px);
    height: 15vh;
    background-color: #81bce4;
    padding: 10px;
    a{
        font-size: 1.2em;
        background-color: #5eafe6;
        padding: 10px;
        border-radius: 5px;
        width: 150px;
        float: left;
    
    }
    h1{
        width: calc(100vw - 200px);
        text-align: center;
        padding: 0;
        margin: 0;
    }
}

.container{
    width: 100vw;
    height: 85vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 50px;
    padding-top: 50px;
    .botoes{
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        button{
            width: 150px;
            padding: 10px;
            background-color: #5eafe6;
            color: #000000;
            border: 0;
            border-radius: 5px;
        }
    
    }

    table{
        width: 60%;
        td{
            width: 45%;
            height: 200px;
            background: #ffffff;
            border: 1px black solid;
            border-radius: 5px;
        }
    }
}