<section class="fundo">
    <article>
        <h1>Sobre mim</h1>
        <p>
            Olá! Me chamo Ana Julia, tenho 15 anos e estou estudando no colégio EEB Raulino Horn.
            Atualmente estou fazendo um curso fornecido pelo SENAI de Lógica de Programação. 
            Gosto de passar o tempo lendo, desenhando, jogando e assistindo.
            Para meu futuro penso em trabalhar talvez em alguma profissão artistica ou procurar alguma outra área que me agrade futuramente.
        </p>
        <p></p>
    </article>
    <figure>
        <img src="/assets/img/sakuras.jpg">
    </figure>
</section>
